/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}


#gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#gallery-container::after{
  content: '';
  flex: auto;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin: 1.5em 1.6%;
  border: 1px solid;
  padding: 4px;
  color: black;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .post {
    width: 100%;
  }
}

.post-image {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}

.post-image img {
  object-fit: cover;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.post-info p {
  margin: 0;
}

.comments-container{
  width: 100%;
  padding: 2em;
  border: 2px solid;
  margin: 1em 0;
}

.comment {
  border-bottom: 1px solid black;
  // padding: 1em;
  margin: 0;
}

.show-image {
  width: 100%;
}