<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "comment-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :body %>
  <%= textarea f, :body %>
  <%= error_tag f, :body %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
