.hw_container {
    max-width: 650px;
    margin: 2em auto;
    border: 3px solid black;
}
h1 {
    text-align: center;
}
#tab_parent {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.tab {
    padding: 1em 0;
    border-bottom: 2px solid black;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.tab.selected{
    border: 1px solid black;
    border-bottom: none;
}

#q_parent {
    max-width: 600px;
    margin: 3em auto;
}

.container {
    display: none;
}

.container.selected {
    display: inherit;
    margin: 0 auto;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: #d6d6d6;
    margin: auto;
}

thead {
    background-color: grey;
    font-weight: 400;
}
th, td {
    min-width: 150px;
    text-align: left;
    /* border: 3px solid black; */

}

tr {
    border: 2px solid black;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 1em 0;
}

input {
    width: calc(100% - 18px);
    display: block;
    margin: 0 auto;
}