<h1><%= @picture.title %></h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, SlowKgWeb.PictureLive.FormComponent,
    id: @picture.id,
    title: @page_title,
    action: @live_action,
    picture: @picture,
    return_to: Routes.picture_show_path(@socket, :show, @picture) %>
<% end %>

<%= if @live_action in [:new_comment] do %>
  <%= live_modal @socket, SlowKgWeb.CommentLive.FormComponent,
    id: @comment.id || :new,
    title: "New Comment",
    action: :new,
    comment: @comment,
    picture: @picture,
    return_to: Routes.picture_show_path(@socket, :show, @picture) %>
<% end %>

<img src="/api/images/<%= @picture.id %>" class="show-image"/>

<div class="comments-container">
  <%= for comment <- @picture.comments do %>
    <p class="comment"><%= comment.body %> (<%= Calendar.strftime comment.inserted_at, "%a, %b %-d %H:%M" %>)</p>
  <% end %>
  <span>
  <%= live_patch "New Comment", to: Routes.picture_show_path(@socket, :new_comment, @picture) %> </span>

</div>
<%# <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: @picture.id, data: [confirm: "Are you sure?"] </span> %>

<span><%= live_patch "Edit", to: Routes.picture_show_path(@socket, :edit, @picture), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.picture_index_path(@socket, :index) %></span>
