body {
    margin: 48px;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: white;
}

h1, h2 {
    font-family: serif;
    margin-top: 48px;
    border-bottom:1px solid;
}

blockquote {
    font-style: italic;
}

#see-also ul {
    list-style: square;
}

#table-of-contents {
    list-style: none;
    border: 1px solid black;
    background-color: #f8f9fa;
    padding: .5em;
    width: max-content;
}

#table-of-contents a{
    text-decoration: none;
}
#table-of-contents a:hover {
    text-decoration: underline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .2em;
    text-align: left;
}
thead {
    font-weight: bold;
    background-color: #eaecf0;
}
tbody{
    background-color: #f8f9fa;
}


.img-box {
    float: right;
    border: 1px solid black;
    max-width: 15em;
    padding: 4px;
    margin: 20px;
}

.img-box img {
    width: 100%;
}

.img-box p {
    text-align: center;
    line-height: 1;
    margin: 4px;
}

#flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-box {
    width: 49%;
}